.vscode
assets/*
!assets/earth_day.jpg
!assets/sun.jpg
!assets/stars.jpg
build
shaders/fragment/*
!shaders/fragment/light.fs
!shaders/fragment/object.fs
shaders/vertex/*
!shaders/vertex/light.vs
!shaders/vertex/object.vs
src/glad
src/scenes/*
!src/scenes/scene_1.cpp
include/scenes/*
!include/scenes/scene.h
!include/scenes/scene_1.h
videoSaveHack.txt