.vscode
assets/*
!assets/earth_day.jpg
!assets/sun.jpg
!assets/stars.jpg
build
include/imgui
include/glad
include/stb_image.h
src/glad
src/imgui
src/miniaudio
src/scenes/*
!src/scenes/scene_1.cpp
!src/scenes/scene.cpp
include/miniaudio
include/scenes/*
!include/scenes/scene.h
!include/scenes/scene_1.h
videoSaveHack.txt
.clang-tidy
output.mp4
tidy.log